name: Deploy React App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm install

      - name: Build app
        run: npm run build
        env:
          VITE_COGNITO_REGION: ${{ vars.VITE_COGNITO_REGION }}
          VITE_USER_POOL_ID: ${{ secrets.VITE_USER_POOL_ID }}
          VITE_USER_POOL_CLIENT_ID: ${{ secrets.VITE_USER_POOL_CLIENT_ID }}
          VITE_COGNITO_DOMAIN: ${{ vars.VITE_COGNITO_DOMAIN }}
          VITE_REDIRECT_URL: ${{ vars.VITE_REDIRECT_URL }}
          VITE_SIGNOUT_REDIRECT_URL: ${{ vars.VITE_SIGNOUT_REDIRECT_URL }}
          VITE_OAUTH_SCOPES: ${{ vars.VITE_OAUTH_SCOPES }}
          VITE_API_BASE_URL: ${{ vars.VITE_API_BASE_URL }}

      - name: Copy build to server via SSH
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ vars.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          source: 'dist/**'
          target: ${{ vars.REMOTE_PATH }}

      - name: Move files from dist to target
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ vars.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cp -rf ${{ vars.REMOTE_PATH }}/dist/* ${{ vars.REMOTE_PATH }}/
            cp -rf ${{ vars.REMOTE_PATH }}/dist/.* ${{ vars.REMOTE_PATH }}/ || true
            rm -rf ${{ vars.REMOTE_PATH }}/dist